<section>
    <div id="logo">
        <img src="../../assets/logo.jpg" alt="logo">
    </div>

    <div id="login">
        <mat-form-field appearance="fill">
            <mat-label>Insira seu email:</mat-label>
            <input matInput placeholder="exemplo@exemplo.com" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Insira sua senha:</mat-label>
            <input matInput type="password" required>
        </mat-form-field>
        <div id="btn-login">
            <button mat-stroked-button color="accent" [routerLink]="['/home']">Login</button>
            <button mat-stroked-button color="accent">Limpar</button>
        </div>
    </div>
</section>